
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <input type="text" id="name" name="name" required min="1"/>
    <input type="submit"  value="Add Role" class="btn btn-success" />
</form>